.congratulations-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  .congratulations-popup-inner {
    width: 60%;
    height: auto;
    flex-shrink: 0;
    border-radius: 67.353px;
    background: #4169e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 40px;

    .text-2 {
      color: #bee565;
    }

    .congratulations-popup-h1-1 {
      color: #fff;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 38.884px;
      font-style: normal;
      font-weight: 700;
      line-height: 11.437px; /* 29.412% */
      margin: 0;
    }

    .congratulations-popup-p-1 {
      color: #fff;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 15.304px;
      font-style: normal;
      font-weight: 600;
      line-height: 21.968px; /* 143.545% */
      margin: 0;
      margin-top: 20px;
    }

    .congratulations-popup-h4-1 {
      color: #fff;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 22.727px;
      font-style: normal;
      font-weight: 700;
      line-height: 6.684px; /* 29.412% */
      margin: 0;
      margin-top: 40px;
    }

    .congratulations-popup-p-2 {
      color: #fff;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 11.612px;
      font-style: normal;
      font-weight: 600;
      line-height: 16.669px; /* 143.545% */
      margin: 0;
      margin-top: 20px;
    }

    .congratulations-popup-h4-2 {
      color: #bee565;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 19.833px;
      font-style: normal;
      font-weight: 600;
      line-height: 23.358px; /* 117.778% */
      margin: 0;
      margin-top: -25px;
    }

    .congratulations-popup-image {
      margin-top: -20px;
      width: 340px;
      height: 340px;
    }

    .congratulations-popup-invite-btn {
      display: inline-flex;
      padding: 0px 22.036px;
      justify-content: center;
      align-items: center;
      gap: 4.407px;
      border-radius: 44.073px;
      background: #fff;
      color: #4169e1;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 15.638px;
      font-style: normal;
      font-weight: 700;
      line-height: 37.035px; /* 236.828% */
      margin-top: 15px;
    }
  }
}
