@media (max-width: 768px) {
    .flex-md-col{
        flex-direction: column;
    }
    .md-card{
        padding: 2rem;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-between;
    }
    
    .md-content{
        padding: 2rem 0 0;
        text-align: center;
    }

    .footer{
        padding:.5rem;
    }
    .h2-heading{
        font-size: 2rem;
        margin-right: .5rem;
    }
    .h3-heading{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .footer p{
        font-size: 1rem;
        line-height: 20px;
    }
    .h1-heading{
        font-weight: 300;
        font-size: 3rem;
    }
    .p-paragraph{
        font-weight: 300;
        font-size: 2rem;
    }
    .btn{
        padding: .3rem 1rem;
        font-size: 1rem;
    }
    .shadow{
        display: block;
        min-height: 86px;
        width: 100%;
        position: absolute;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
        top: 0;
        left: 0;
    }
    .ic-phoneWHand, .p-signup{
        display: none;
    }
    .min-h-full{
        min-height: fit-content;
    }
    .p-signup2{
        display: block;
    }
    .md-signup-card{
        gap: 0;
        padding: .5rem;
        justify-content: center;
    }
    .md-signup-card .blue-box{
        width: 120px;
    }
    
    .md-signup-card > div:nth-child(2), .img-pt-signup{
        margin-top: 2rem;
    }
    .h1-signup-heading{
        font-size: 3rem;
    }
    .md-borderless{
        flex-direction: column;
        gap: 4rem;
    }
    .md-borderless > div:nth-child(2){
        order: 1;
    }
    .md-borderless > div:nth-child(1){
        order: 2;
    }
    .ic-shield{
        position: absolute;
        right: -4rem;
        top: initial;
        bottom: -4rem;
    }
    .left-security-box{
        max-width: 100%;
    }
    .card{
        max-width: 100%;
        width: 100%;
    }
    .security-box{
        padding-bottom: 16rem;
        margin-bottom: 4rem;
        max-width: 65%;
    }
    .ic-shield img{
        max-width: 300px;
    }
    .mob-space{
        padding-top: 2rem;
    }
    .w-90{
        width: 60%;
    }
    .ic-globe{
        text-align: right;
    }
    .ic-globe img{
        width: 60%;
    }
    .h1-mob-heading{
        font-size: 2rem;
        font-weight: bold;
    }
    .h1-mob-heading br{display: none;}
    .mt-mob-0{
        margin-top: 0;
    }

    /* Home page responsive styles */
    .home-page-inner {
        padding: 20px;
    }

    .home-page-inner .logo-container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .home-page-inner .logo-container .logo-text {
        font-size: 20px;
        line-height: 28px;
    }

    .home-page-inner .top-container {
        margin-top: 0rem;
    }

    .home-page-inner .top-container .top-container-inner {
        flex-direction: column !important;
    }

    .home-page-inner .top-container .top-container-inner .banner-text-container .banner-text {
        text-align: center;
        font-size: 32.046px !important;
        line-height: 40px !important;
    }

    .home-page-inner .top-container .top-container-inner .banner-text-content {
        margin-top: 10px;
        text-align: center;
        font-size: 11px !important;
        line-height: 15px !important;
    }

    .banner-image-container {
        top: 25% !important;
        left: 0 !important;
        width: 100vw !important;
        height: 35vh !important;
    }

    .banner-image-container-2 {
        top: 25% !important;
        left: 0 !important;
        width: 100vw !important;
        height: 35vh !important;
    }

    .banner-image-container-3 {
        top: 25% !important;
        left: 0 !important;
        width: 100vw !important;
        height: 35vh !important;
    }

    .banner-image-container-4 {
        top: 10px !important;
        left: 0 !important;
        width: 100vw !important;
        height: 35vh !important;
    }

    .services-container {
        padding: 0px 20px;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
    }

    .services-container .service-item {
        width: 130px;
        min-height: 150px;
    }

    .services-container .service-item .service-item-title-container h2 {
        font-size: 10px;
    }

    .services-container .service-item .service-item-inner {
        width: 100%;
        height: 100px;
    }

    .services-container .service-item .service-item-inner #service-item-image {
        width: 45%;
        height: 50%;
    }

    .services-container:hover .service-item {
        width: 130px;
        min-height: 150px;
    }

    .footer-page-2 {
        padding: 20px;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        margin: 0;
    }

    .footer-page-2 .footer-left {
        gap: 10px;
    }

    .footer-page-2 .footer-left .footer-people-count {
        font-size: 30px;
        text-align: center;
    }

    .footer-page-2 .footer-left .footer-people-count-text {
        font-size: 11px;
        text-align: center;
        line-height: 20px;
    }

    .footer-page-2 .footer-right {
        align-items: center;
        justify-content: center;
    }

    .footer-page-2 .footer-right .footer-right-text {
        font-size: 11px;
        text-align: center;
        line-height: 20px;
    }

    .footer-page-2 .footer-right .footer-timer #timer-image {
        width: 20px;
        height: 20px;
    }

    .footer-page-2 .footer-right .footer-timer .footer-timer-text {
        font-size: 15px;
        text-align: center;
    }

    .services-inverted-container {
        padding: 0px 20px;
        align-items: flex-end;
        justify-content: space-between;
        gap: 0px;
        padding: 20px;
        height: 400px;
        width: fit-content;
        display: flex;
    }

    .services-inverted-container .service-inverted-item:nth-child(2n + 1) {
        margin-bottom: 50px;
    }

    .services-inverted-container .service-inverted-item {
        width: 33%;
        min-height: 140px;
        border-radius: 14px;
    }

    .services-inverted-container .service-inverted-item .service-inverted-item-title-container h2 {
        font-size: 10px;
    }

    .services-inverted-container .service-inverted-item .service-inverted-item-title-container #hovered-text {
        font-size: 8px;
    }

    .services-inverted-container .service-inverted-item .service-inverted-item-inner {
        width: 100%;
        height: 80px;
        border-radius: 14px;
    }

    .services-inverted-container .service-inverted-item .service-inverted-item-inner #service-item-image {
        width: 50%;
        height: 50%;
    }

    .services-inverted-container .service-inverted-item:hover {
        min-height: 200px;
        width: 140px;
        background: #9ba5ff;
    }

    .services-inverted-container .service-inverted-item:hover .service-inverted-item-title-container h2 {
        color: #fff;
    }

    .services-inverted-container .service-inverted-item:hover .service-inverted-item-title-container #hovered-text {
        display: flex;
        color: #fff;
    }

    .services-inverted-container .service-inverted-item:hover .service-inverted-item-inner #service-item-image {
        opacity: 0.7;
    }

    .page-6-container {
        flex-direction: column;
        padding: 20px;
        overflow: hidden;
        padding: 0px;
    }

    .page-6-container .page-6-left {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        position: relative;
    }

    .page-6-container .page-6-left img {
        width: 80%;
        max-width: 300px;
        position: absolute;
        top: 0;
        left: -25px;
    }

    .page-6-container .page-6-right {
        width: 100%;
        text-align: center;
        z-index: 1;
    }

    .page-6-container .page-6-right h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .page-6-container .page-6-right p {
        font-size: 16px;
        padding: 0 20px;
    }

    .page-6-container .page-6-right button {
        width: 180px;
        height: 40px;
        font-size: 16px;
    }

    .page-6-container .page-6-right .ic-globe {
        opacity: 0.5;
    }

    .page-6-container .page-6-right .ic-globe img {
        width: 300px;
        height: auto;
    }

    .security-box .security-subbox {
        gap: 20px;
    }

    .security-box .left-security-box h3 {
        font-size: 18px;
        text-align: center;
    }

    .security-box .left-security-box .security-box-text-1 {
        font-size: 10px;
    }

    .security-box .left-security-box .security-box-service-text {
        font-size: 10px;
        margin: 0px;
        width: 80%;
        text-align: center;
    }

    .security-box .left-security-box img {
        width: 30px;
        height: 30px;
    }

    .security-box .left-security-box .card:last-child {
        display: none;
    }
}