@media (max-width: 768px) {
  .flex-md-col {
    flex-direction: column !important;
  }
  .md-card {
    padding: 2rem !important;
    flex-wrap: wrap !important;
    gap: 2rem !important;
    justify-content: space-between !important;
  }

  .md-content {
    padding: 2rem 0 0 !important;
    text-align: center !important;
  }

  .footer {
    padding: 0.5rem !important;
  }
  .h2-heading {
    font-size: 2rem !important;
    margin-right: 0.5rem !important;
  }
  .h3-heading {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
  }
  .footer p {
    font-size: 1rem !important;
    line-height: 20px !important;
  }
  .h1-heading {
    font-weight: 300 !important;
    font-size: 3rem !important;
  }
  .p-paragraph {
    font-weight: 300 !important;
    font-size: 2rem !important;
  }
  .btn {
    padding: 0.3rem 1rem !important;
    font-size: 1rem !important;
  }
  .shadow {
    display: block !important;
    min-height: 86px !important;
    width: 100% !important;
    position: absolute !important;
    background: rgb(255, 255, 255) !important;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ) !important;
    z-index: 1 !important;
    top: 0 !important;
    left: 0 !important;
  }
  .ic-phoneWHand,
  .p-signup {
    display: none !important;
  }
  .min-h-full {
    min-height: fit-content !important;
  }
  .p-signup2 {
    display: block !important;
  }
  .md-signup-card {
    gap: 0 !important;
    padding: 0.5rem !important;
    justify-content: center !important;
  }
  .md-signup-card .blue-box {
    width: 120px !important;
  }

  .md-signup-card > div:nth-child(2),
  .img-pt-signup {
    margin-top: 2rem !important;
  }
  .h1-signup-heading {
    font-size: 3rem !important;
  }
  .md-borderless {
    flex-direction: column !important;
    gap: 4rem !important;
  }
  .md-borderless > div:nth-child(2) {
    order: 1 !important;
  }
  .md-borderless > div:nth-child(1) {
    order: 2 !important;
  }
  .ic-shield {
    position: absolute !important;
    right: -4rem !important;
    top: initial !important;
    bottom: -4rem !important;
  }
  .left-security-box {
    max-width: 100% !important;
  }
  .card {
    max-width: 100% !important;
    width: 100% !important;
  }
  .security-box {
    padding-bottom: 16rem !important;
    margin-bottom: 4rem !important;
    max-width: 65% !important;
  }
  .ic-shield img {
    max-width: 300px !important;
  }
  .mob-space {
    padding-top: 2rem !important;
  }
  .w-90 {
    width: 60% !important;
  }
  .ic-globe {
    text-align: right !important;
  }
  .ic-globe img {
    width: 60% !important;
  }
  .h1-mob-heading {
    font-size: 2rem !important;
    font-weight: bold !important;
  }
  .h1-mob-heading br {
    display: none !important;
  }
  .mt-mob-0 {
    margin-top: 0 !important;
  }

  /* Home page specific media queries */
  .home-page-inner {
    padding: 20px !important;
  }

  .home-page-inner .logo-container {
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .home-page-inner .logo-container .logo-text {
    font-size: 20px !important;
    line-height: 28px !important;
  }

  .home-page-inner .top-container {
    margin-top: 0rem !important;
  }

  .home-page-inner .top-container .top-container-inner {
    flex-direction: column !important;
  }

  .home-page-inner
    .top-container
    .top-container-inner
    .banner-text-container
    .banner-text {
    text-align: center !important;
    font-size: 32.046px !important;
    line-height: 40px !important;
  }

  .home-page-inner .top-container .top-container-inner .banner-text-content {
    margin-top: 10px !important;
    text-align: center !important;
    font-size: 11px !important;
    line-height: 15px !important;
  }

  .banner-image-container,
  .banner-image-container-2,
  .banner-image-container-3,
  .banner-image-container-4 {
    top: 25% !important;
    left: 0 !important;
    width: 100vw !important;
    height: 35vh !important;
  }

  .banner-image-container-4 {
    top: 10px !important;
  }

  .services-container {
    padding: 0px 20px !important;
    flex-wrap: wrap !important;
    align-items: flex-end !important;
    justify-content: center !important;
    gap: 20px !important;
    margin-bottom: 10px !important;
  }

  .services-container .service-item {
    width: 130px !important;
    min-height: 150px !important;
  }

  .services-container .service-item .service-item-title-container h2 {
    font-size: 10px !important;
  }

  .services-container .service-item .service-item-inner {
    width: 100% !important;
    height: 100px !important;
  }

  .services-container .service-item .service-item-inner #service-item-image {
    width: 45% !important;
    height: 50% !important;
  }

  .services-container:hover .service-item {
    width: 130px !important;
    min-height: 150px !important;
  }

  .services-inverted-container {
    padding: 20px !important;
    align-items: flex-end !important;
    justify-content: space-between !important;
    gap: 0px !important;
    height: 400px !important;
    width: fit-content !important;
    display: flex !important;
  }

  .services-inverted-container .service-inverted-item:nth-child(2n + 1) {
    margin-bottom: 50px !important;
  }

  .services-inverted-container .service-inverted-item {
    width: 33% !important;
    min-height: 140px !important;
    border-radius: 14px !important;
  }

  .services-inverted-container
    .service-inverted-item
    .service-inverted-item-title-container
    h2 {
    font-size: 10px !important;
  }

  .services-inverted-container
    .service-inverted-item
    .service-inverted-item-title-container
    #hovered-text {
    font-size: 8px !important;
  }

  .services-inverted-container
    .service-inverted-item
    .service-inverted-item-inner {
    width: 100% !important;
    height: 80px !important;
    border-radius: 14px !important;
  }

  .services-inverted-container
    .service-inverted-item
    .service-inverted-item-inner
    #service-item-image {
    width: 50% !important;
    height: 50% !important;
  }

  .services-inverted-container .service-inverted-item:hover {
    min-height: 200px !important;
    width: 140px !important;
    background: #9ba5ff !important;
  }

  .services-inverted-container
    .service-inverted-item:hover
    .service-inverted-item-title-container
    h2 {
    color: #fff !important;
  }

  .services-inverted-container
    .service-inverted-item:hover
    .service-inverted-item-title-container
    #hovered-text {
    display: flex !important;
    color: #fff !important;
  }

  .services-inverted-container
    .service-inverted-item:hover
    .service-inverted-item-inner
    #service-item-image {
    opacity: 0.7 !important;
  }

  .page-6-container {
    flex-direction: column !important;
    padding: 0px !important;
    overflow: hidden !important;
  }

  .page-6-container .page-6-left {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px !important;
    position: relative !important;
  }

  .page-6-container .page-6-left img {
    width: 80% !important;
    max-width: 300px !important;
    position: absolute !important;
    top: 0 !important;
    left: -25px !important;
  }

  .page-6-container .page-6-right {
    width: 100% !important;
    text-align: center !important;
    z-index: 1 !important;
  }

  .page-6-container .page-6-right h1 {
    font-size: 40px !important;
    line-height: 40px !important;
  }

  .page-6-container .page-6-right p {
    font-size: 16px !important;
    padding: 0 20px !important;
  }

  .page-6-container .page-6-right button {
    width: 180px !important;
    height: 40px !important;
    font-size: 16px !important;
  }

  .page-6-container .page-6-right .ic-globe {
    opacity: 0.5 !important;
  }

  .page-6-container .page-6-right .ic-globe img {
    width: 300px !important;
    height: auto !important;
  }

  .security-box {
    padding-bottom: 16rem !important;
    margin-bottom: 4rem !important;
    max-width: 65% !important;
  }

  .security-box .security-subbox {
    gap: 20px !important;
  }

  .security-box .left-security-box h3 {
    font-size: 18px !important;
    text-align: center !important;
  }

  .security-box .left-security-box .security-box-text-1 {
    font-size: 10px !important;
  }

  .security-box .left-security-box .security-box-service-text {
    font-size: 10px !important;
    margin: 0px !important;
    width: 80% !important;
    text-align: center !important;
  }

  .security-box .left-security-box img {
    width: 30px !important;
    height: 30px !important;
  }

  .security-box .left-security-box .card:last-child {
    display: none !important;
  }

  /* Modal Signup Form Media Queries */
  .modal-signup-form-container {
    width: 95% !important;
    height: auto !important;
  }

  .modal-form-inner {
    padding: 2rem !important;
  }

  .modal-form-title {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .modal-form-text-1 {
    font-size: 22px !important;
    line-height: 40px !important;
  }

  .modal-form-input-container {
    flex-direction: column !important;
    gap: 10px !important;

    input {
      width: 100% !important;
    }

    button {
      width: 100% !important;
    }
  }

  .modal-form-text-3 {
    font-size: 18px !important;
    line-height: 44px !important;
  }

  .modal-form-radio-btns-container {
    flex-direction: column !important;
    gap: 15px !important;
    align-items: flex-start !important;
  }

  .modal-form-radio-item label {
    font-size: 14px !important;
  }

  .modal-form-checkbox-container label {
    font-size: 14px !important;
  }

  /* Footer Media Queries */
  .footer-page-2 {
    padding: 20px !important;
    gap: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100px !important;
    margin: 0 !important;
  }

  .footer-page-2 .footer-left {
    gap: 10px !important;
  }

  .footer-page-2 .footer-left .footer-people-count {
    font-size: 30px !important;
    text-align: center !important;
  }

  .footer-page-2 .footer-left .footer-people-count-text {
    font-size: 11px !important;
    text-align: center !important;
    line-height: 20px !important;
  }

  .footer-page-2 .footer-right {
    align-items: center !important;
    justify-content: center !important;
  }

  .footer-page-2 .footer-right .footer-right-text {
    font-size: 11px !important;
    text-align: center !important;
    line-height: 20px !important;
  }

  .footer-page-2 .footer-right .footer-timer #timer-image {
    width: 20px !important;
    height: 20px !important;
  }

  .footer-page-2 .footer-right .footer-timer .footer-timer-text {
    font-size: 15px !important;
    text-align: center !important;
  }

  .page-5-heading {
    font-size: 2rem !important;
  }

  .page-5-heading-text {
    font-size: 0.8rem !important;
    text-align: center !important;
    margin-top: 10px !important;
  }

  .page-5-signup-button {
    font-size: 1rem !important;
    padding: 5px 30px !important;
    font-size: 0.8rem !important;
  }

  .page-5-image-container {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .page-5-image-container .banner-image-container-3 {
    position: relative !important;
    top: 0 !important;
  }
}

/* Early Signup Form Media Queries */
@media screen and (min-width: 300px) and (max-width: 700px) {
  .early-signup-form-container {
    width: 100% !important;
    height: auto !important;
  }

  .early-signup-inner {
    padding: 20px !important;
  }

  .early-signup-title {
    font-size: 15.16px !important;
  }

  .early-signup-text-1 {
    font-size: 14.315px !important;
    margin-top: 5px !important;
    color: #4169e1 !important;
  }

  .early-signup-text-2 {
    font-size: 10.657px !important;
    margin-top: 5px !important;
  }

  .early-signup-form .early-signup-form-input {
    width: 208.778px !important;
  }

  .early-signup-form .early-signup-form-button {
    background: #4169e1 !important;
  }

  .early-signup-text-3 {
    font-size: 11.218px !important;
  }

  .early-signup-radio-btns-container .early-signup-radio-item label {
    font-size: 10.375px !important;
  }

  .early-signup-checkbox-container label {
    font-size: 10.525px !important;
  }
}

@media (max-width: 1366px) {
  .page-6-container .page-6-right h1 {
    font-size: 60px !important;
    line-height: 50px !important;
  }

  .page-6-container .page-6-right p {
    font-size: 18px !important;
  }

  .page-6-container .page-6-right button {
    width: 200px !important;
    height: 45px !important;
    font-size: 18px !important;
  }

  .page-6-container .page-6-right .ic-globe img {
    width: 400px !important;
    height: auto !important;
  }
}
